<% if issue.aplicativos.any? %>
  <div class="wiki">
    <% issue.aplicativos.each do |aplicativo| %>
      <strong><%= link_to(aplicativo.nombre, aplicativo, :id => aplicativo) %></strong>
      <% if authorize_for('aplicativos', 'removeissue') %>
        <span style="margin-left:10px;"><%= delete_link issue_remove_aplicativo_path(issue, aplicativo), :remote => true %>
      <% end %>
      <br/><br/>
    <% end %>
  </div>
<% else %>
  <div class="wiki">
    <ul>
      <li><em><%= l(:label_none) %></em></li>
    </ul>
  </div>
<% end %>
