<table class="list">
  <tbody>
    <%- @aplicativo.users.each do |user| %>
      <tr>
      <td class="<%= user.class.name.downcase %>"><%= link_to_user user %></td>
    </tr>
    <%- end %>
  </tbody>
</table>
